.board_view {
    border-top: 1px solid #222;
    
    
    &_tit {

        padding: 15px 20px;
        border-bottom: 1px solid $c_line;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;

        .f_tag {
            padding: 0 8px;
            &:last-of-type {
                margin-right: 5px;
            }
        }
        .tag_box {
            margin-bottom: 10px;
        }
        .tit {
            font-size: 18px;
            //width: 100%;
        }
    }
    &_info {
        display: flex;
        justify-content: flex-end;
        color: $c_lightGrey;
        font-size: 14px;
        margin-top: 10px;
        
        
        &_item {
            position: relative;
            padding-right: 10px;
            margin-right: 10px;
            
            &:after {
                content:'';
                position: absolute;
                width: 1px;
                height: 12px;
                background-color: $c_line;
                right: 0;
                top: 50%;
                margin-top: -6px;
            }
            &:last-child {
                padding-right: 0;
                margin-right: 0;
                &::after {
                    display: none;
                }
            }   
        }
    }
    &_option {
        padding:  20px;
        font-size: 18px;
        line-height: 1.7;
        border-bottom: 1px solid $c_line;
    }
    &_writer {
        display: flex;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            &::after {
                content:'';
                width: 1px;
                height: 16px;
                margin: 0 10px;
                background-color: $c_line;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
    &_branch {
        margin-top: 10px;
        color: #999;
    }
    &_cont {
        border-bottom: 1px solid $c_line;
        padding: 20px 20px 30px;
        font-size: 16px;
        line-height: 1.7;
        img {
            width: auto;
        }
        * {
            max-width: 100% !important;
        }
        
    }
    &_file {
        display: flex;
        border-bottom: 1px solid $c_line;
        
        .tit {
            width: 140px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $c_bg_grey;
            flex-shrink: 0;
            font-size: 16px;
        }
        .file_list {
            padding: 15px 20px;
            display: flex;
            flex-wrap: wrap;
            min-width: 0;
            gap: 10px 20px;
            li {
                
               
                max-width: 100%;
                
            }
            .btn_down3 {
                display: flex;
                align-items: flex-start;
                color: darken($c_blue, 10%);
                font-size: 14px;
                line-height: 22px;
                
                &:hover {
                    text-decoration: underline;
                }
                
                
                .file_name {
                    min-width: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                &::before {
                    content:'\f56d';
                    font-family: "Font Awesome 6 Free";
                    font-weight: bold;
                    width: 22px;
                    height: 22px;
                    font-size: 16px;
                    text-align: center;
                    flex-shrink: 0;
                    margin-right: 2px;
                    background-size: 16px;
                }
            }
        }
    }

    &_nav {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        background-color: rgba($c_key, .08);
        border-radius: 10px;
        &_item {
            display: flex;
            align-items: center;
            font-size: 13px;
            min-width: 0;
            max-width: 45%;

            &.ty_next {
                flex-direction: row-reverse;
            }

            .tit {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 0 20px;
                color: $c_key;
                font-weight: 500;
                font-size: 16px;
            }

            
            .link {
                flex: 1;
                min-width: 0;
                line-height: 60px;
                font-size: 16px;
                @include text-hidden-single;
                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}


.comment {
    &_wrap {
        margin-top: 90px;
    }
    &_item {
        &:first-child {
            border-top: 1px solid #222;
        }
        border-bottom: 1px solid #dcdcdc;
        padding: 20px;
        //padding-left: 70px;
        position: relative;
        // &::before {
        //     content:'';
        //     position: absolute;
        //     width: 30px;
        //     height: 30px;
        //     left: 20px;
        //     top: 20px;
        //     background-repeat: no-repeat;
        //     background-position: center center;
        //     background-image: url(../images/common/ico_reply.svg);
        //     @include mobile { 
        //         background-size: 16px;
        //         left: 6px;
        //         top: 4px;
        //     }
        // }
        &_top {
            padding-bottom: 20px;
            
            border-bottom: 1px dashed #dcdcdc;
            display: flex;
        }
        &_writer {
            display: flex;
            flex-wrap: wrap;
            flex-shrink: 0;
            align-items: center;
            .name {
                font-size: 18px;
                font-weight: bold;
                margin-right: 10px;
                &.ty_admin {
                    display: flex;
                    align-items: center;
                    &::before {
                        content: '';
                        width: 32px;
                        height: 18px;
                        background: url(../images/common/logo_minimal.svg) no-repeat center center;
                        background-size: contain;
                        margin-right: 5px;
                    }
                } 
            }
            .time {
                color: #999;
            }
        }
        &_cont {
            padding: 20px 0;
        }
        &.ty_answer {
            border-top: 1px solid #222;
            background-color: #fff;
            padding-left: 20px;
            &::before {
                display: none;
            }
        }
        &_del {
            width: 30px;
            height: 30px;
            background-image: url(../images/common/ico_del2.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 20px;
            margin-left: 10px;
            flex-shrink: 0;
        }
    }

    &_write {
        border-bottom: 1px solid #222;
        padding: 30px 20px;
        background-color: #f6f7fa;
        display: flex;
        .f_textarea {
            height: 100px;
        }
        .f_btn {
            margin-left: 20px;
            flex-shrink: 0;
        }
    }
}