.join {
    &_info {
        color: #222;
        //background-color: $c_line;
        background-color: #666;
        // background-color: $c_key;
        // background: $c_key;
        // background: radial-gradient(circle, rgba($c_key,1) 0%, rgb(149, 70, 0) 100%);
        padding: 80px 0;
        //text-align: center;

        .vid_bg {
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-image: url(../images/common/login_bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 0.6;
            filter: blur(3px);
        }
        &_inner {
            max-width: 700px;
            margin: 0 auto;
            padding: 50px 0 0;
            box-sizing: border-box;
            border-radius: 20px;
            box-shadow: 0 6px 20px rgba(0,0,0,.1);
            background-color: #fff;
            text-align: center;
            overflow: hidden;
            position: relative;
            z-index: 99;
        }
        &_tit {
            margin-bottom: 40px;
            .tit {
                font-size: 34px;
                font-weight: bold;
                img {
                    height: 50px;
                    vertical-align: middle;
                }
            }
            .desc {
                font-size: 18px;
                margin-top: 20px;
                font-weight: 500;
            }
        }
        &_step {
            display: flex;
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            &_item {
                flex: 1;
                .ico_box {
                    position: relative;
                }
                i {
                    font-size: 70px;
                    &.i-arrow {
                        font-size: 50px;
                        position: absolute;
                        right: -20px;
                        top: 50%;
                        margin-top: -25px;
                        width: 50px;   
                        opacity: 0.4;
                    }
                }
                .txt_box {
                    font-size: 18px;
                    line-height: 1.5;
                    margin-top: 15px;
                    font-weight: 500;
                }
            }
        }
        &_txt {
            
            
            background-color: #fff;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            font-size: 18px;
            line-height: 1.7;
            
        }
        &_bot {
            margin-top: 60px;
            padding: 30px 0;
            color: #fff;
            //border-top: 1px solid rgba($c_key , .4);
            background-color: $c_solidGrey;
        }
        &_btn {
            max-width: 500px;
            margin: 0 auto;
            margin-top: 50px;
            display: flex;
            gap: 20px;
            .f_btn {
                flex: 1;
            }
        }
        &_cs {
            max-width: 500px;
            margin: 0 auto;
            text-align: left;
            font-size: 16px;
            line-height: 1.8;
            display: flex;
            
            .tit {
                margin-right: 30px;
            }
                
         
        }
    }
    &_form {
        display: block;
        text-align: left;
        &_tit {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .tit {
                font-size: 20px;
                font-weight: bold;
            }
            .tip {
                font-size: 14px;
            }
        }
       
        &_sec {
            margin-top: 20px;
        }
        
        .msg_required {
            text-align: right;
            font-size: 14px;
            height: 1px;
            transform: translateY(50px);
        }
    
        
        &_item {
            .tit {
                display: block;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            & + & {
                margin-top: 20px;
            }
        }

        .b_num_wrap {
            display: flex;
            align-items: center;
            .f_input {
                text-align: center;
            }
            .dash {
                margin: 0 4px;
                font-size: 16px;
            }
            .b_num1 {
                width: 94px;
            }
            .b_num2 {
                width: 84px;
            }
            .b_num3 {
                width: 110px;
            }
            .f_btn {
                margin-left: 10px;
            }
        }
        .b_num_result {
            height: 120px;
            overflow-y: auto;
            border: 1px solid $c_line;
            border-radius: 6px;
            position: relative;
            .no_result_box {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 13px;
                text-align: center;
                color: #666;
                i {
                    font-size: 36px;
                }
            }
        }
        .b_num {
            &_list {
                padding: 6px 0;
            }
            &_label {
                display: block;
                cursor: pointer;
                position: relative;
                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -999;
                    &:checked ~ .b_num_name {
                        color: $c_key;
                        background-color: rgba($c_key,.1);
                        font-weight: 500;
                    }
                } 
            }
            &_name {
                line-height: 26px;
                padding: 0 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:hover {
                    background-color: rgba($c_key,.1);
                }
            }
        }
        
        .address_set {
            display: flex;
            .f_btn {
                margin-left: 10px;
            }
            & + .address_set {
                margin-top: 10px;
            }
            .f_input.ty_address_num {
                width: 120px;
            }
        }
        &_agree {
            margin-top: 30px;
            padding: 15px;
            border-radius: 10px;
            background-color: #f2f2f4;
            &_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                line-height: 30px;
                label {
                    user-select: none; 
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    input {
                        margin-right: 6px;
                    }
                }
                .f_btn {
                    width: 80px;
                }
                & + .join_form_agree_item {
                    margin-top: 10px;
                }
            }
        }
        &_btns {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            gap: 10px;
            .f_btn {
                flex: 1;
            }
        }
        .f_input_box {
            display: flex;
            .f_btn {
                flex-shrink: 0;
                margin-left: 10px;
            }
        }
        .msg_feedback {
            font-size: 13px;
            line-height: 1.6;
            margin-top: 6px;
            &.ty_true {
                color: rgb(55, 107, 253);
            }
            &.ty_false {
                color: #f00;
            }
        }
    }
    &_wrap {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #666;
        box-sizing: border-box;
        padding: 50px;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            //background: url(../images/main/mv2.jpg) no-repeat center center;
            background-size: cover;
            opacity: 0.8;
            //filter: grayscale(0.5);
        }
        .vid_bg {
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-image: url(../images/common/login_bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 0.6;
            filter: blur(3px);
        }
        
    }
    &_box {
        position: relative;
        z-index: 10;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 18px rgba(#000,.1);
        overflow: hidden;
        text-align: center;
        padding: 40px 50px;
        width: 500px;
        box-sizing: border-box;
        &_top {
            margin-bottom: 30px;
            .img_box {
                img {
                    height: 56px;
                }
            }
            .tit {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.5;
                margin-top: 2px;
                color: $c_key;
            }
        }
        &_result {
            .ico_box {
                width: 300px;
                margin: 0 auto;
                margin-top: -20px;
            }
        }
    }
    

    &_btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        li {
            &::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 12px;
                background-color: #999;
                margin: 0 10px;
            }
            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
        a {
            color: #999;
            font-size: 14px;
            line-height: 1.6;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_bot {
        margin-top: 30px;
        .f_btn {
            margin-bottom: 10px;
        }
        .msg_tel {
            color: #999;
        }
    }
    &_info_msg {

        margin-top: 15px;
        color: #646464;
        display: flex;

        justify-content: center;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            text-align: left;
            align-self: center;
        }
        &::before {
            content: '';
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            background: url(../images/common/ico_info2.svg);
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.4;
            margin-right: 6px;
        }
    }
    &_tab {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        
        &_item {
            text-align: center;
            flex: 1;
            height: 50px;
            color: $c_key;
            border: 1px solid $c_key;
            line-height: 48px;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 16px;
            &.on {
                background-color: $c_key;
                color: #fff;
            }
        }
    }
    &_result {
        &_msg {
            font-size: 18px;
            line-height: 1.6;
        }
        .f_btn {
            margin-top: 40px;
        }
    }
}