
.main_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .main_sec {
        //flex: 1;
        padding: 30px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(#000, .08);
        position: relative;
        //min-height: 200px;
       
        
        width: calc(50% - 10px);
        
        &.ty_col1 {
            flex: 1;
            
        }
        &.ty_col2 {
            width: calc(50% - 10px);
        }

        @include list_col(3 ,16px, 40px);
        .card_item {
            .txt_box {
                padding: 15px 15px 20px;
            }
        } 
        .h_tbl {
            &_wrap {
                max-height: 260px;
            }
            thead {
                th {
                    font-size: 13px;
                }
            }
            tbody {
                td {
                    font-size: 13px;
                    
                }
            }
        }
        .no_result_box {
            height: 186px;
        }

        .sub_tit {
            &.ty_line {
                padding-bottom: 10px;
                border-bottom: 1px solid $c_solidGrey;
            }
        }
        .tit1 {
            font-size: 20px;
        }

        &_cont {
            display: flex;
            gap: 20px;
            //align-items: center;
            .main_count_list {
                flex: 1;
                //height: 200px;
            }

            &.calChart_wrap {
                .calChart_box {
                    width: 34%;
                    min-width: 200px;
                    height: 100px;
                    #calChart {
                        width: 100%;
                        //height: 100px;
                    }
                }
                .data_list {
                    flex: 1;
                    display: flex;
                    
                    gap: 10px;
                    //padding: 0 30px;
                    //border: 1px solid #ddd;
                    border-radius: 10px;
                    &_item {
                        display: flex;
                        flex: 1;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        //background-color: $c_bg;
                        border-radius: 8px;
                        gap: 10px;
                        padding: 0 10px;
                        &.ty_total {
                            border: 2px solid $c_lightGrey;
                        }
                        &.ty_completed {
                            border: 2px solid $c_key;
                        }
                        &.ty_incomplete {
                            border: 2px solid #ffc998;
                        }
                        dt {
                            font-size: 15px;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            //margin-right: auto;
                            
                            .color_chip {
                                width: 18px;
                                height: 18px;
                                border-radius: 3px;
                                margin-right: 6px;
                                &.ty_total {
                                    background-color: #ccc;
                                }
                                &.ty_blue {
                                    background-color: $c_key;
                                }
                                &.ty_red {
                                    background-color: #ffc998;
                                }
                            }
                        }
                        dd {
                            font-size: 14px;
                            //text-align: right;
                        }
                    }
                }
            }
            
        }

        .status_list {
            width: 100%;
            &_item {
                & + .status_list_item {
                    margin-top: 14px;
                }
                flex: 1;
                display: flex;  
                align-items: center;
                box-sizing: border-box;
                border-radius: 10px;
                
                .tit {
                    font-size: 15px;
                    font-weight: 500;
                    //color: #666;
                    //margin-top: 10px;
                }
                .txt_box {
                    //padding-left: 15px;
                    //margin-top: 6px;
                    display: flex;
                    //align-items: center;
                    color: $c_key;
                    font-size: 16px;
                    column-gap: 2px;
                    margin-left: auto;
                    &:hover {
                        text-decoration: underline;
                    }
                    .count {
                        display: block;
                        
                        
                        letter-spacing: -0.01em;
                        font-weight: 500;
                        font-family: 'Roboto';
                        position: relative;
                        color: $c_key;
                        .sizing_box {
                            position: absolute;
                            opacity: 0;
        
                        }
                    }
                    .unit {
                        font-size: 15px;
                        font-weight: 500;
                        
                        //margin-top: 1px;
                    }
                }
            }
        }
    }
}

.main_count {
    &_list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
    }
    &_item {
        //width: calc((100%/3) - (((3/2)*20px)/2));
        flex: 1;
        display: flex;
        //flex-direction: column;
        //justify-content: center;
        align-items: center;
        //text-align: center;
        border: 1px solid $c_line;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px 4%;
        
        //gap: 15px;
        //border-right: 1px solid $c_line;
        // &:last-child {
        //     border-right: none;
        //     margin-right: 0;
        //     padding-right: 0;
        // }
        
        .ico_box {
            display: flex;
            align-items: center;
            justify-content: center;
            //margin: 0 auto;
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: rgba($c_key, .1);
            margin-right: 15px;
            flex-shrink: 0;
            img {
                height: 46%;
            }
            &.ty_greyscale {
                filter: grayscale(1);
            }
        }
        .tit {
            font-size: 15px;
            font-weight: bold;
            //color: #666;
            //margin-top: 10px;
        }
        .txt_box {
            //padding-left: 15px;
            margin-top: 6px;
           
            .count {
                display: block;
                font-size: 26px;
                line-height: 1.2;
                letter-spacing: -0.01em;
                font-weight: bold;
                font-family: 'Roboto';
                position: relative;
                color: $c_key;
                .sizing_box {
                    position: absolute;
                    opacity: 0;

                }
            }
        }
    }
}

.calChart_wrap {
    display: flex;
}