
.reply {
    $maxwidth : 1200px;

    &_wrap {
        padding: 20px;
        padding-bottom: 30px;
    
        border-radius: 10px;
        
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(#000, .014);
        border: 1px solid $c_line;
        //border-top: 1px solid #000;
        &_tit {
            max-width: $maxwidth;
            margin: 0 auto;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
        }
    }


    &_list {
        max-width: $maxwidth;
        margin: 0 auto;
        border: 1px solid $c_line;
        border-radius: 10px;
        background-color: #fff;
        
    }
    &_thumb {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid $c_line;
        box-sizing: border-box;
        flex-shrink: 0;
        background-image: url(../images/common/ico_user.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center bottom;

        overflow: hidden;
        &.has_thumb {
            background-image: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
   
        
        
    &_name {
        font-size: 14px;
        color: #000;
        font-weight: bold;
        margin-bottom: 6px;
    }
    
    &_cont {
        flex: 1;
    }
    &_write {
        border: 2px solid $c_line;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        max-width: $maxwidth;
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
        .f_ta {
            height: 60px;
            padding: 10px;
            resize: vertical; 
        }
    }
    
    &_item {
        padding: 20px;
        //margin-bottom: 20px;
        border-bottom: 1px solid $c_line;
        &:last-of-type {
            border-bottom: none;
        }
        &:hover {
            background-color: rgba(yellow, .045);
        }
    }

    &_view {
        display: flex;
        gap: 10px;
        
        
        &_bot {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            color: #949494;
            font-size: 13px;
            .f_btn {
                font-weight: bold;
                color: #333;
            }
            .edit_btns {
                display: flex;
                align-items: center;
                gap: 6px;
                margin-left: auto;
            }
        }
    }

    &_set {
        &.ty_re {
            padding-left: 40px;
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $c_line;
            position: relative;
            &::before {
                content:'';
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border-left: 1px solid #999;
                border-bottom: 1px solid #999;
                position: absolute;
                left: 10px;
                top: 24px;
            }
        }
    }
    &_comment {
        font-size: 14px;
    }
    &_btns {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        gap: 6px;
        .f_btn {
            min-width: 60px;
            
            &._line {
                color: #333;
                font-weight: bold;
            }
        }

    }
}